@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: hsla(0, 0%, 100%, 0.75);
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-size: 36px;
  color: hsl(0, 0%, 95%);
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 1.75rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px 30px;
}

.flex-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  max-width: 330px;
  height: 48%;
  padding: 35px;
}

button {
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  padding: 10px 30px;
  border: none;
  border-radius: 40px;
  height: 45px;
  width: 145px;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

/* Background colors */
.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0px 0px 10px;
}

.suvs {
  background: hsl(184, 100%, 22%);
}

.luxury {
  background: hsl(179, 100%, 13%);
  border-radius: 0px 10px 10px 0px;
}

@media (max-width: 650px) {
  .container {
    flex-direction: column;
    max-width: 300px;
    margin: 40px auto;
    height: auto;
  }

  h2 {
    margin: 10px 0;
  }

  p {
    margin: 10px 0;
  }

  img {
    margin-bottom: 10px;
  }

  .sedans {
    border-radius: 10px 10px 0 0;
  }

  .luxury {
    border-radius: 0 0 10px 10px;
  }

  button {
    margin-top: 1rem;
  }
}
